<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="html_fragments :: head"></head>
<body>
<div th:replace="navigation :: navigation"></div>
<div class="container theme-showcase" role="main">
    <div class="page-header">
        <h2>Tax Haven Entities at <span th:text="${address.address}"></span></h2>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div id="mapid"></div>
        </div>
        <div class="col-md-5" id="entityList">
            <ul class="list-group">
                <li class="list-group-item" th:each="entity : ${address.registeredHere}" th:text="${entity.name}"></li>
            </ul>
        </div>
    </div>
</div>
<footer th:replace="html_fragments :: footer"></footer>
<div th:replace="html_fragments :: script_footer"></div>

<script th:inline="javascript">
    var lat = [[${address.location.x}]];
    var long = [[${address.location.y}]];
    var address = [[${address.address}]];
    var mymap = L.map('mapid').setView([lat, long], 16);
    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(mymap);
    var marker = L.marker([lat, long]).addTo(mymap);
    marker.bindPopup(address);
</script>
</body>
</html>