<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navigation">
    <a class="navbar-brand" href="#" th:href="@{/}">TaxHaven24</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Top of the lists
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" th:href="@{'/top/addresses'}">Addresses</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/faq}">FAQ</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/address/city}" method="get">
            <datalist id="city-list">
                <option th:each="location : ${locations}" th:value="${location}"></option>
            </datalist>
            <input id="city" name="city" list="city-list" class="form-control mr-sm-2" type="search" placeholder="City"
                   aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
</body>
</html>